* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", "Inter";
}

:root {
    --primary: #12131A;
    --fondcards: #1C1F2A;
    --principaltext: #F2F2F7;
    --secundarytext: #B4B7C9;
    --card1: #C99DFF;
    --card2: #FFB21E;
    --card3: #FF8A65;
    --progressbar: #D19BFF;
    --edges: #2A2D3A;
}

.pagweb {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container {
    background-color: var(--primary);
    margin: 100px auto;
    width: 650px;
    padding: 10px;
}


/* Estructura del header */
header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--principaltext);
}

.powerbutton img {
    width: 30px;
    justify-content: center;
}

.powerbutton button {
    border-radius: 10px;
    background-color: var(--edges);
    color: var(--principaltext);
    width: 50px;
}

